{% extends "base.html" %}

{% block content %}

  <form method="post" action="{% url 'register' %}">
    {% csrf_token %}
      {% if form.errors %}
        {% for field in form %}
          <div class="fieldWrapper">
              <font color="red">
                {{ field.errors }}
              </font>
          </div>
        {% endfor %}
      {% endif %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password1.label_tag }}</td>
        <td>{{ form.password1 }}</td>
      </tr>
      <tr>
        <td>{{ form.password2.label_tag }}</td>
        <td>{{ form.password2 }}</td>
      </tr>
    </table>
    <input type="submit" value="Register" />
  </form>

{% endblock %}