{% extends "base.html" %}
{% block content %}

<h1>Ewords - best for practice and learn English!</h1>
<h3>{{ user.username }}, добро пожаловать!</h3>

<div align="left">
    <h3>New features:</h3>
    <ol>
     <li><a href="http://127.0.0.1:8000/api/signup/">http://127.0.0.1:8000/api/signup/</a>
     <ul>
         <li>через GET отображаются все текущие пользователи</li>
         <li>через POST можно создать нового пользователя:<br>
        <textarea cols="60" rows="4">
{
    "username": "new_user1",
    "password": "12345"
}</textarea><br>
         пароль пишем в сыром виде, в БД положится хеш, отобржаться по GET тоже будет хеш</li>
         <li>через GET отображаются все текущие пользователи</li>
         <li>после регистрации вернется токен, можно его использовать</li>
     </ul>
     </li>
     <li><a href="http://127.0.0.1:8000/api/obtain-jwt-token/">http://127.0.0.1:8000/api/obtain-jwt-token/</a>
     <ul>
         <li>метод GET не предусмотрен</li>
         <li>через POST можно по имени пользователя и паролю получить токен</li>
     </ul>
     </li>
     <li><a href="http://127.0.0.1:8000/api/refresh-jwt-token/">http://127.0.0.1:8000/api/refresh-jwt-token/</a>
     <ul>
         <li>метод GET не предусмотрен</li>
         <li>через POST можно по текущему токену получить новый, с новой датой экспирации (не тестил так ли это)</li>
     </ul>
     </li>
     <li><a href="http://127.0.0.1:8000/api/verify-jwt-token/">http://127.0.0.1:8000/api/verify-jwt-token/</a>
     <ul>
         <li>метод GET не предусмотрен</li>
         <li>через POST можно проверить токен (хз зачем может быть нужно)</li>
     </ul>
     </li>
     <li><a href="http://127.0.0.1:8000/api/languages/">http://127.0.0.1:8000/api/languages/</a>
     <ul>
         <li>метод GET возвращает все языки</li>
         <li>через POST можно добавить свой язык (вводится только поле name)</li>
         <li>Доступен любому пользователю</li>
     </ul>
     </li>
     <li><a href="http://127.0.0.1:8000/api/words/">http://127.0.0.1:8000/api/words/</a>
     <ul>
         <li>метод GET возвращает все слова, если ты неавторизован через токен,<br>
             либо слова текущего пользователя, авторизованного через токен</li>
         <li>через POST можно добавить слова, но только авторизованному пользователю<br>
             хз как тесить через браузер, через postman надо выбрать authorization -> bearer token и заполнить токен<br>
             после этого post будет выполняться
         </li>
     </ul>
     </li>
     <li>Общая структура работы с API на примере Words:
     <ul>
         <li>Для перехода по страницам добавляем ?page=<br>
             например, http://127.0.0.1:8000/api/words/?page=2</li>
         <li>Для update существующей строки или удаления открываем добавляем id нужной строки<br>
             http://127.0.0.1:8000/api/words/7/ - слово с id=7
         </li>
         <li>Для массового добавления используется POST и JSON пишется так: [{...}, {...}, {...}]</li>
     </ul>
     </li>
    </ol>
</div>

{% endblock %}